@use 'tokens' as *;

:host {
  padding: var(--chunk-panel-padding);
  width: 100%;
}

:host([data-padding='sm']) {
  --chunk-panel-padding: #{$chunk-padding-sm};
}

:host([data-padding='lg']) {
  --chunk-panel-padding: #{$chunk-padding-lg};
}
