@use 'tokens' as *;

:host {
  --chunk-input-title-text: #{$chunk-color-ink-3};

  display: block;
  color: var(--chunk-input-title-text);

  font-size: $chunk-font-size-2xs;
  font-weight: 700;
  text-transform: uppercase;
}
