@use './styles/tokens' as *;

body {
  background: $chunk-color-background;
  color: $chunk-color-text;
  font-family: $chunk-font-sans;
  padding: 2rem;
}

.u-bottom-dashed {
    border-bottom: 1px dashed $chunk-color-line-soft;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-mt-sm {
  margin-top: $chunk-margin-sm;
}

//TODO: padronizar
.u-tags-list{
  display: flex;
  gap: $chunk-gap-sm;
  flex-flow: wrap;
}

code,
kbd,
pre,
samp {
  font-family: $chunk-font-mono;
}
