@use './styles/tokens' as *;

body {
  background: $chunk-color-background;
  color: $chunk-color-text;
  font-family: $chunk-font-sans;
  padding: 2rem;
}

code,
kbd,
pre,
samp {
  font-family: $chunk-font-mono;
}
