@use 'tokens' as *;

:host {
  --chunk-grid-element-size: var(
    --chunk-grid-element-desktop-input,
    var(--chunk-grid-element-size-input, 1)
  );

  display: block;
  min-width: 0;
  max-width: 100%;
  grid-column: span var(--chunk-grid-element-size);
  box-sizing: border-box;
}

@media (max-width: $chunk-grid-mobile-threshold) {
  :host {
    --chunk-grid-element-size: var(
      --chunk-grid-element-mobile-input,
      var(--chunk-grid-element-desktop-input, var(--chunk-grid-element-size-input, 1))
    );
  }
}
